.n-display {
    font-size: 4rem;
    font-weight: 700;
    color: var(--p-primary-color);
    text-align: center;
    padding: 1.5rem 0;
}

.card-title {
    font-size: 1.4rem;
    font-weight: 700;
}

.card-subtitle {
    font-size: 1rem;
    color: var(--p-text-muted-color);
}